h2{
    color: #463B3B;
}
.table{
    min-width: 79vw;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.table tr{
    text-align-last: center;
}

.a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a h2{
    font-size: 1.5rem;
}
.pBut{
    border: none !important;
    border-radius: 25px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: #FF8AA5 !important;
    margin: 10px !important;
    padding: 5px 12px !important;
}
.pButMr0{
    border: none !important;
    border-radius: 25px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: #FF8AA5 !important;
    margin: 10px 0 10px 10px ;
    padding: 5px 12px !important;
}

.table{
    background-color: white;
    overflow-x: scroll;
}
.table-striped{
    margin: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editing-name{
    max-width: 60px !important;
    height: 30px;
}

.tabheader th{
        font-size: 13px;
        font-weight: 100;
        background-color: rgb(70, 59, 59);
        color: white;
        text-align: center;
        width: 100px;
}
/* .table-body-height{
    height: 300px !important;
    overflow-y: scroll;
}
.production-table{
    height: 500px !important;
    background-color: red;
} */
.react-bootstrap-table {
    max-height: 65vh !important;
    overflow-y: scroll;
  }