body{
    justify-content: inherit !important;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.containerr{
    max-width: 100vw;
    min-width: 100vw;
    
    /* overflow: scroll; */
    display: flex;
}
.others{
    max-width: 82vw;
    min-width: 82vw;
    /* margin: 3px; */
}